html, body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 50vh;
    padding: 20px;
  }
.heading {
    width: 60px;
    height: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
.optimization{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.goback {
    --glow-color: rgb(50, 205, 50);
    --glow-spread-color: rgba(50, 205, 50, 0.7);
    --enhanced-glow-color: rgb(144, 238, 144);
    --btn-color: rgb(20, 90, 20);
    border: 0.2em solid var(--glow-color);
    padding: 0.5em 2em;
    color: var(--glow-color);
    font-size: 30px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 40px; /* Adjust this value as needed */
    margin-bottom: 20px;
}

.goback span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.goback:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.goback:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
 
.btn-shine {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #90EE90;
    background: linear-gradient(to right, #32CD32 0%, #B0F2B0 50%, #32CD32 100%);
    background-size: 300% auto;
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
  }
  @-moz-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-webkit-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @-o-keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
  @keyframes shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}