html, body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh; /* Moves content slightly up */
    height: 100vh; /* Ensures it takes up the full viewport height */
    overflow: hidden;
}

.upload-title {
    width: 693px;
    height: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}

.upload-button {
    --glow-color: rgb(50, 205, 50);
    --glow-spread-color: rgba(50, 205, 50, 0.7);
    --enhanced-glow-color: rgb(144, 238, 144);
    --btn-color: rgb(20, 90, 20);
    border: 0.3em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    transition: all 0.3s;
    margin-bottom: -30px;
}

.upload-button span {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.upload-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.upload-button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.or-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 30px; /* Reduce this value */
}

.code-input {
    position: relative;
    display: inline-block;
}

textarea::placeholder {
    color: gray;
    font-size: 20px;
    opacity: 0.8;
    text-align: left;
    padding-right: 15px;
    padding-top: 1px;
}

textarea {
    width: 800px;
    height: 100px;
    padding: 30px;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
    border-radius: 50px;
    border: 3px solid rgb(144, 238, 144);
    transition: 0.3s;
    box-shadow: 5px 5px 30px rgba(50, 205, 50, 0.7);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #333;
    outline: none;
    resize: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    border-color: rgb(50, 205, 50);
    box-shadow: 5px 5px 30px rgb(144, 238, 144);
}

textarea:hover {
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.2);
}

.animated-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid transparent;
    font-size: 16px;
    background-color: white;
    border-radius: 100px;
    font-weight: 600;
    color: #000000;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #000000;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(144, 238, 144);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #000000;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .upload-title {
        width: 90%;
        font-size: 35px;
        margin-top: 100px;
        
    }

    .upload-button {
        padding: 1.5em 2.5em;
        font-size: 10px;
        margin-bottom: 20px; /* Adjusted margin */
        margin-top: 30px;
    }

    .upload-button span {
        font-size: 30px;
    }

    .or-text {
        margin-top: 10px;
        font-size: 30px;
    }

    textarea::placeholder {
        color: gray;
        font-size: 18px;
        opacity: 0.8;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 1px;
        
    }
    .code-input textarea {
        width: 85%;
        height: 80px;
        padding: 19px;
        padding-left: 1.5em;
        padding-right: 0.4em;
        font-size: 16px;
        margin-bottom: 20px;  /*Existing margin */
        margin-top: center;
    }

    .animated-button {
        padding: 12px 24px;
        font-size: 14px;       
    }

    .animated-button svg {
        width: 20px;
    }

    footer {
        font-size: 24px;
    }
    
}